<!DOCTYPE html>
<html>


<head>
    <meta charset=utf-8>
    <title>约课</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="./static/js/jquery-1.10.1.min.js"></script>
    <script src="./static/js/swiper.min.js"></script>
    <link rel="stylesheet" href="./static/css/swiper.min.css">
    <link rel="stylesheet" href="./static/css/jquery-weui.css">
<!--    <link rel="stylesheet" href="./static/css/redstyle..css" v-if="window.location.href == 'http://mobile.zhihuoyueke.cn/#/?openid=oAxbjwGukgCwEFEYsK0_cqpsjJks&code=2&storesid=10&templateType=2'">-->
<!--    <link rel="stylesheet" href="./static/css/blackstyle.css" v-if="window.location.href == 'http://mobile.zhihuoyueke.cn/#/?openid=oAxbjwGukgCwEFEYsK0_cqpsjJks&code=2&storesid=10&templateType=3'">-->
<!--    <link rel="stylesheet" href="./static/css/bluestyle.css" v-if="window.location.href == 'http://mobile.zhihuoyueke.cn/#/?openid=oAxbjwGukgCwEFEYsK0_cqpsjJks&code=2&storesid=10&templateType=4'">-->
<!--    <link rel="stylesheet" href="./static/css/darkgreenstyle.css" id="changeOne">-->
    <link rel="stylesheet" href="./static/css/blackstyle.css" id="changeOne">
    <link rel="stylesheet" href="./static/css/weui.css" />
    <link rel="stylesheet" href="./static/css/vant.css" />
    <script src="./static/js/jquery-weui.js"></script>

    <script>
        // window.onload =function () {
        //     var changeOne = document.getElementById('changeOne');
        //     if(window.location.href == 'http://mobile.zhihuoyueke.cn/#/?openid=oAxbjwGukgCwEFEYsK0_cqpsjJks&code=2&storesid=10&templateType=1'){
        //         changeOne.href = './static/css/redstyle..css';
        //     }else  if(window.location.href == 'http://mobile.zhihuoyueke.cn/#/?openid=oAxbjwGukgCwEFEYsK0_cqpsjJks&code=2&storesid=10&templateType=2'){
        //         changeOne.href = './static/css/blackstyle..css';
        //     }else  if(window.location.href == 'http://mobile.zhihuoyueke.cn/#/?openid=oAxbjwGukgCwEFEYsK0_cqpsjJks&code=2&storesid=10&templateType=2'){
        //         changeOne.href = './static/css/bluestyle..css';
        //     }else {
        //         changeOne.href = './static/css/darkgreenstyle..css';
        //     }
        // }

        //let languageUrl = "https://mdm.fresenius-kabi.com.cn/service/languageres/language.js";//生产
        // document.write("<script language='javascript' src=" + languageUrl + "?verson=" + version + "> <\/script> ");
        // document.write("<link rel='stylesheet' href='+changeCssUrl+'>");
    </script>


</head>
<body>
    <div id=app></div>
</body>

</html>
